

.wrapperDevices {
    display: flex;
    width: 50%;
    margin: auto;
    position: relative;
    background: #444;
}


.deviceFragment {
    background: red;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 20px;
}